# Build a Java project with Maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup JDK 8
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 8
        cache: maven
    - name: Setup Maven
      run: mvn -N --ntp -V -e -B -C io.takari:maven:wrapper -Dmaven=3.6.3
    - name: Build with Maven
      run: ./mvnw -V -ntp -e -B -C clean verify
