# Build a Java project with Maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Setup JDK 8
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: temurin
        java-version: 8
        cache: maven
    - name: Setup Maven
      run: mvn -N --ntp -V -e -B -C io.takari:maven:wrapper -Dmaven=3.6.3
    - name: Build with Maven
      run: ./mvnw -V -ntp -e -B -C clean verify
